<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzsc.infod.mapper.EndowmentMapper">

    <select id="selectJoin" resultType="com.zzsc.infod.model.EndowmentDto" parameterType="com.zzsc.infod.model.EndowmentDto"  >
        SELECT
              eid,
              name,
              cid,
              org_name,
              bank_name,
              bank_sub,
              tid
        FROM
        endowment
        <trim prefix="WHERE" prefixOverrides="AND|OR ">
           <if test="eid!=0">AND eid=#{eid}</if>
           <if test="name!=null">AND name=#{name}</if>
           <if test="cid!=null">AND cid=#{cid}</if>
           <if test="orgName!=null">AND org_name=#{orgName}</if>
           <if test="bankName!=null">AND bank_name=#{bankName}</if>
           <if test="bankSub!=null">AND bank_sub=#{bankSub}</if>
           <if test="tid!=null">AND tid=#{tid}</if>
        </trim>
    </select>
</mapper>