<!DOCTYPE html>
<html lang="en">
<div th:replace="head :: copy"></div>

<body class="no-skin">

<div th:replace="navigation :: copy"></div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">


    <div th:replace="sidebar :: copy"></div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">

        <div class="page-content">
            <!-- /section:settings.box -->
            <div class="page-content-area">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- search form title start-->
                                <div class="table-header">
                                    【机关事业养老保险】比对数据要求姓名列为C列，身份证号列为D列；【城乡居民养老保险】比对数据要求姓名列为E列，身份证号列为D列；
                                </div>
                                <div class="space-4"> </div>
                                <!-- 查询输入表单开始-->
                                <form id="form-Endowment"   role="form" th:action="${actionUrl}" METHOD="get">
                                   <!-- <div class="row">
                                        <label class="col-sm-1 control-label no-padding-right" for="custAddr"> 文件名：</label>
                                        <div class="col-sm-3">
                                            <input   type="text" id="custAddr" name="custAddr" placeholder=" 文件名" class="col-sm-12"   maxlength="50"/>
                                        </div>

                                    </div>-->
                                    <div class="space-4"><input type="hidden" name="page" id="page"/></div>
                                </form>
                                <!--数据操作工具栏开始-->
                                <table width="100%" class="CSSearchTbl" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td  >

                                            <input type="file" id="inputfile" name="inputfile" multiple="multiple" style="display:none;"/>
                                            <a href="#">
                                                <button class="btn btn-success  btn-sm " id="btn-upload-file" >
                                                    上传文件
                                                    <i class="ace-icon fa fa-pencil "></i>
                                                </button>
                                            </a>

                                            <a href="#">
                                                <button class="btn btn-warning  btn-sm" id="btn-analyse-excel" >
                                                    分析并显示
                                                    <i class="ace-icon fa fa-pencil "></i>
                                                </button>
                                            </a>
                                            <a href="#">
                                                <button class="btn    btn-sm" id="btn-analyse-all-excel" >
                                                    城镇、城乡合并分析并显示
                                                    <i class="ace-icon fa fa-pencil "></i>
                                                </button>
                                            </a>
                                        </td>



                                    </tr>

                                </table>
                                <!-- 分割线-->
                                <div class="space-4"> </div>

                                <!--数据表格开始-->
                                <div  id="table-container">

                                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>

                                            <th>文件名称</th>
                                            <th>文件类型</th>
                                            <th>文件大小</th>
                                            <th>查看内容  </th>

                                            <th>上传状态</th>


                                           <!-- <th>操作</th>-->
                                        </tr>
                                        </thead>

                                        <tbody id="uploadDataInfoList" class="tbody_td_padding_5">
                                            <tr th:each="item:${FileList}">

                                                <!--具体数据-->

                                                <td   th:text="${item.fileName}"> </td>
                                                <td   th:text="${item.fileType}"> </td>
                                                <td   th:text="${item.fileSize}"> </td>
                                                <td    ><a class="btn    btn-sm" style="padding:0px 9px;" target="_blank" th:href="${'/SysService/showExcelContent?filePath='+filePath+'/'+item.fileName}">查看</a> </td>
                                                <td   th:text="${item.result}"> </td>
                                               <!-- <td  > <a th:href="'javascript:delFile('+${item.id}+')'">删除</a></td>-->

                                            </tr>

                                        </tbody>
                                    </table>

                                    <div class="modal-footer no-margin-top">
                                        <span class=" pull-left no-margin"  >共计</span>
                                        <span class=" pull-left no-margin" th:text="${pageInfo.totalCount}" style="color: #00B83F"></span>
                                        <span class=" pull-left no-margin"  >条记录</span>
                                        <span class=" pull-left no-margin"  >&nbsp;&nbsp;共计</span>
                                        <span class=" pull-left no-margin" th:text="${pageInfo.totalPages}"></span>
                                        <span class=" pull-left no-margin"  >页</span>

                                        <span class=" pull-left no-margin"  >&nbsp;&nbsp;当前在第</span>
                                        <span class=" pull-left no-margin" th:text="${pageInfo.pageNo}"></span>
                                        <span class=" pull-left no-margin"  >页</span>


                                        <span class=" pull-right no-margin"  >
                                        <ul class="pagination pull-left no-margin" >
                                            <li th:class="${pageInfo.isFirstPage}?'disabled':''" ><a th:href="'javascript:gotopage(1)'" >首页</a></li>
                                            <li th:class="${pageInfo.hasPreviousPage}?'':'disabled'" ><a th:href="'javascript:gotopage('+${pageInfo.prePage}+')'">&laquo;</a></li>
                                            <li th:each="i:${pageInfo.navigatepageNums}"   th:class="${pageInfo.pageNo==i}?'active':''">
                                                <a   th:href="'javascript:gotopage('+${i}+')'" th:text="${i}" ></a>
                                            </li>
                                            <li  th:class="${pageInfo.hasNextPage}?'':'disabled'" ><a th:href="'javascript:gotopage('+${pageInfo.nextPage}+')'">&raquo;</a></li>
                                            <li th:class="${pageInfo.isLastPage}?'disabled':''" ><a th:href="'javascript:gotopage('+${pageInfo.totalPages}+')'">尾页</a></li>
                                        </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 删除警告框-->
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="delWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            确认删除
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您确认要删除吗？
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            确认删除
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                        <!-- 上传文件等待进度条-->
                        <div class="modal fade" id="postResWarning" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true"  data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title" id="process-result">
                                            更新结果
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="modal-title"  id="postResContent" >
                                            <strong>正在处理...可能需花费2-5秒，请稍等！</strong>
                                        </h4>
                                        <div class="progress progress-striped active" style="margin-bottom: 0;" id="processBar">
                                            <div class="progress-bar" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" style="display:none;" id="closeMsg">关闭 </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->



    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->


<!--[if !IE]> -->
<script type="text/javascript" th:inline="javascript">
    // <![CDATA[
    window.jQuery || document.write("<script src='/static/assets/js/jquery.min.js'>"+"<"+"/script>");
    // ]]>
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript"  th:inline="javascript">
    window.jQuery || document.write("<script src='/static/assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript" th:inline="javascript">
    // <![CDATA[
    if('ontouchstart' in document.documentElement) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    // ]]>
</script>
<script src="/static/assets/js/bootstrap.min.js" th:inline="javascript"></script>
<script src="/static/laydate/laydate.js"></script>

<!--[if lte IE 8]>
<script src="/static/assets/js/excanvas.min.js" th:inline="javascript"></script>
<![endif]-->
<script src="/static/assets/js/jquery-ui.custom.min.js" th:inline="javascript"></script>
<script src="/static/assets/js/jquery.ui.touch-punch.min.js" th:inline="javascript"></script>.
<script src="/static/assets/js/ace-extra.min.js"></script>
<script src="/static/assets/js/ace-elements.min.js" th:inline="javascript"></script>
<script src="/static/assets/js/ace.min.js" th:inline="javascript"></script>
<script type="text/javascript">

    jQuery(function($) {

        //时间选择器
        laydate.render({
            elem: '#beginDate'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endDate'
            ,type: 'datetime'
        });
        $( "#btn-analyse-excel" ).click(function () {
            $('#postResWarning').modal('show');
            $(".progress-bar").css("width","100%");
            $('#postResContent').find("strong").html("正在分析，请稍后...");
            $('#processBar').css("display","");
            $('#closeMsg').css("display","none");
            $.ajax({
                url: '[[${analyseType}]]',
                type: 'GET',
                cache: false,
                processData: false,
                contentType: false,
                success: function(msg){
                    if(msg=='SUCCESS'){
                        location.href="/Endowment/list?type=[[${type}]]";
                        $('#postResWarning').modal('hide');
                    }else{
                        $('#postResContent').find("strong").html(msg);
                        $('#processBar').css("display","none");
                        $('#closeMsg').css("display","");
                    }

                }
            });
        });
        $( "#btn-analyse-all-excel" ).click(function () {
            $('#postResWarning').modal('show');
            $('#processBar').css("display","");
            $(".progress-bar").css("width","100%");
            $.ajax({
                url: '/EndowmentAnalyse/analyseAll',
                type: 'GET',
                cache: false,
                processData: false,
                contentType: false,
                success: function(msg){
                    if(msg=='SUCCESS'){
                        //alert(msg);
                       location.href="/Endowment/list?type=endowmentAllApplication";

                    }else{
                        $('#postResContent').find("strong").html(msg);
                        $('#processBar').css("display","none");
                        $('#closeMsg').css("display","");
                    }

                }
            });

        });
        function gotopage(pageNo) {
            $("#page").val(pageNo);
            $("#form-Endowment" ).submit();

        }
        window.gotopage=gotopage;

        $('#btn-upload-file').click(function () {
            $('#inputfile').trigger("click");
        });


        var processBar;

        $('#inputfile').on('change',null,function(){
            $('#postResWarning').modal('show');
            processBar=setInterval(function (args) {
                $.ajax({
                    url:"/EndowmentAnalyse/getProgress",
                    type: 'GET',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(msg){
                        $(".progress-bar").css("width",msg+"%");
                    }
                });
            },2000);
            var files = $('#inputfile').prop('files');

            var data = new FormData();

            var len=files.length;
            for(var i=0;i<len;i++) {
                data.append('inputfile', files[i]);

            }
            data.append("type",'[[${type}]]');
                $.ajax({
                    url: '/[[${uploadType}]]/upload',
                    type: 'POST',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(msg){

                        if(msg=='SUCCESS'){
                            gotopage(1);
                        }else if(msg=='ERR_FILE_MAX_SIZE'){
                            $('#postResWarning').modal('show');
                            $('#postResContent').find("strong").html('文件太大,请重新上传！');
                            $('#processBar').css("display","none");
                            $('#closeMsg').css("display","");


                        }else {
                            $('#postResWarning').modal('show');
                            $('#postResContent').find("strong").html(msg);
                            $('#processBar').css("display","none");
                            $('#closeMsg').css("display","");

                        }
                        clearInterval(processBar);
                    }
                });


        });





    });
</script>
</body>
</html>