<div id="sidebar" class="sidebar responsive"  th:fragment="copy">


    <ul class="nav nav-list">
        <li >
            <a href="/CrmCustomer/list">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text" > 总控制台 </span>
            </a>

            <b class="arrow"></b>
        </li>



        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">数据查询</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li  class=" active ">
                    <a href="/CrmCustomer/list">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城镇职工医疗保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   >
                    <a href="/CrmCustomer/list">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民医疗保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   >
                    <a href="/CrmCustomer/list">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民养老保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   >
                    <a href="/CrmCustomer/list">
                        <i class="menu-icon fa fa-caret-right"></i>
                        机关事业养老保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li  th:class="${#strings.contains( currUrl,'Analyse')?'active open hsub':''}"  >
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">数据上传</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li   th:class="${#strings.contains( currUrl,'MedicalAnalyse/CityListview')?'active':''}">
                    <a href="/MedicalAnalyse/CityListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城镇职工医疗保险数据上传
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   th:class="${#strings.contains( currUrl,'MedicalAnalyse/VallageListview')?'active':''}" >
                    <a href="/MedicalAnalyse/VallageListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民医疗保险数据上传
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   th:class="${#strings.contains( currUrl,'EndowmentAnalyse/CityListview')?'active':''}"   >
                    <a href="/EndowmentAnalyse/CityListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        机关事业养老保险数据上传

                    </a>

                    <b class="arrow"></b>
                </li>
                <li    th:class="${#strings.contains( currUrl,'EndowmentAnalyse/VallageListview')?'active':''}"  >
                    <a href="/EndowmentAnalyse/VallageListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民养老保险数据上传
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>


    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

</div>
