<div id="sidebar" class="sidebar responsive"  th:fragment="copy">


    <ul class="nav nav-list">
        <li >
            <a href="/SysService/help">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text" > 使用说明 </span>
            </a>

            <b class="arrow"></b>
        </li>



        <li  th:class="${#strings.contains( currUrl,'list')?'active open hsub':''}"  >
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-sort-amount-desc"></i>
                <span class="menu-text">数据查询</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li  th:class="${type=='MedicalCity'?'active':''}" >
                    <a href="/Medical/list?type=MedicalCity">

                        <i class="menu-icon fa fa-caret-right"></i>
                        城镇职工医疗保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='MedicalVallage'?'active':''}">
                    <a href="/Medical/list?type=MedicalVallage">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民医疗保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='medicalAllApplication'?'active':''}">
                    <a href="/Medical/list?type=medicalAllApplication">
                        <i class="menu-icon fa fa-caret-right"></i>
                        医疗保险重复查询
                    </a>

                    <b class="arrow"></b>
                </li>


                <li  th:class="${type=='EndowmentCity'?'active':''}" >
                    <a href="/Endowment/list?type=EndowmentCity">
                        机关事业养老保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='EndowmentVallage'?'active':''}" >
                    <a href="/Endowment/list?type=EndowmentVallage">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民养老保险查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='endowmentAllApplication'?'active':''}">
                    <a href="/Endowment/list?type=endowmentAllApplication">
                        <i class="menu-icon fa fa-caret-right"></i>
                        养老保险重复查询
                    </a>

                    <b class="arrow"></b>
                </li>

                <li  th:class="${type=='FinanceFeedCity'?'active':''}" >
                    <a href="/FinanceFeed/list?type=FinanceFeedCity">
                        县直财供人员重复查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='FinanceFeedVallage'?'active':''}" >
                    <a href="/FinanceFeed/list?type=FinanceFeedVallage">
                        <i class="menu-icon fa fa-caret-right"></i>
                        乡镇财供人员重复查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='FinanceFeedAllApplication'?'active':''}">
                    <a href="/FinanceFeed/list?type=financeFeedAllApplication">
                        <i class="menu-icon fa fa-caret-right"></i>
                        综合财供人员重复查询
                    </a>

                    <b class="arrow"></b>
                </li>
                <li  th:class="${type=='SomeXlsAllApplication'?'active':''}">
                    <a href="/SomeXls/list?type=someXlsAllApplication">
                        <i class="menu-icon fa fa-caret-right"></i>
                        其他重复查询
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        <li  th:class="${#strings.contains( currUrl,'Analyse')?'active open hsub':''}"  >
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">数据上传</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li   th:class="${#strings.contains( currUrl,'MedicalAnalyse/CityListview')?'active':''}">
                    <a href="/MedicalAnalyse/CityListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城镇职工医疗保险上传
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   th:class="${#strings.contains( currUrl,'MedicalAnalyse/VallageListview')?'active':''}" >
                    <a href="/MedicalAnalyse/VallageListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民医疗保险上传
                    </a>

                    <b class="arrow"></b>
                </li>
                <li   th:class="${#strings.contains( currUrl,'EndowmentAnalyse/CityListview')?'active':''}"   >
                    <a href="/EndowmentAnalyse/CityListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        机关事业养老保险上传

                    </a>

                    <b class="arrow"></b>
                </li>
                <li    th:class="${#strings.contains( currUrl,'EndowmentAnalyse/VallageListview')?'active':''}"  >
                    <a href="/EndowmentAnalyse/VallageListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        城乡居民养老保险上传
                    </a>

                    <b class="arrow"></b>
                </li>

                <li   th:class="${#strings.contains( currUrl,'FinanceFeedAnalyse/CityListview')?'active':''}"   >
                    <a href="/FinanceFeedAnalyse/CityListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                       县直财供人员上传

                    </a>

                    <b class="arrow"></b>
                </li>
                <li    th:class="${#strings.contains( currUrl,'FinanceFeedAnalyse/VallageListview')?'active':''}"  >
                    <a href="/FinanceFeedAnalyse/VallageListview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        乡镇财供人员上传
                    </a>

                    <b class="arrow"></b>
                </li>
                <li    th:class="${#strings.contains( currUrl,'SomeXlsAnalyse/Listview')?'active':''}"  >
                    <a href="/SomeXlsAnalyse/Listview">
                        <i class="menu-icon fa fa-caret-right"></i>
                        其他数据上传
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>


    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

</div>
